# Application
APP_ENV=development
API_KEY=your-api-key
BASE_URL=https://example.com
SHORT_CODE_LENGTH=6

# HTTP Server
HTTP_PORT=8080
HTTP_READ_TIMEOUT=5s
HTTP_READ_HEADER_TIMEOUT=5s
HTTP_WRITE_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=60s

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Postgres
POSTGRES_HOST=localhost
POSTGRES_DB=golink
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_SSL_MODE=disable